* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

.open-modal {
    position: absolute;
    top: 50px;
    left: 33%;
    cursor: pointer;
}


.modal {
    display: none;
    width: 1200px;
    height: 700px;
    position: relative;
    margin: 50px auto;
    padding: 40px 0 0;
    border-style: solid;
    border-image-source: url(./img/uzor.jpg);
    border-image-width: 5px;
    border-image-repeat: round;
    border-image-slice: 40;
    background-color: #808080;
    overflow: hidden;
    
}

.slider {
    width: 800px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    
}

.line {
    width: 100%;
    height: 100%;
    position: absolute;
    
}

img.slide {
    width: 100%;
    height: 100%;
    transition: all ease-in 2s;
}

#next {
    position: absolute;
    top: 40%;
    right: 5%;
    padding: 10px 20px;
    font-size: 30px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;
}

#prev {
    position: absolute;
    top: 40%;
    left: 5%;
    padding: 10px 20px;
    font-size: 30px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;
}

#close {
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 0 9px;
    font-size: 30px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    cursor: pointer;
}